@import "partials/variables";
@import "partials/mixins";

footer {
    background-color: #0d0d0d;
    position: relative;
    padding-top: 80px;
    margin-top: 150px;
    .logo-scl {
        text-align: center;
        position: relative;
        .logo-ftr {
            margin-bottom: 50px;
            img {
                width: 180px;
            }
        }

        p {
            margin-top: 35px;
            margin-bottom: 35px;
            font-size: 14px;
            line-height: 23px;
            color: #c4f1de;
        }

        .scl {
            a {
                margin: 0 5px;
                text-decoration: none;
                position: relative;
                @include transition(0.2s ease-out all);
                position: relative;
                z-index: 999;
                top: 0;
                &:hover {
                    top: -5px;
                    @include transition(0.2s ease-out all);
                }
                img {
                    width: 45px;
                }
                @include transition(0.2s ease-out all);
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    .copy-rgt {
        margin-top: 33px;
        height: 100px;
        color: #fff;
        font-size: 16px;
        line-height: 23px;
        font-weight: 300;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 2px solid #3a1818;
        a{
            color:#009eff;
            text-decoration: none;
            &:hover{
              text-decoration: underline; 
            }
        }
    }
}

@media (max-width: 1679px) {
    footer .logo-scl .logo-ftr img {
        width: 140px;
    }
    footer .logo-scl .logo-ftr {
        margin-bottom: 40px;
    }
    footer {
        background-color: #0d0d0d;
        position: relative;
        padding-top: 40px;
        margin-top: 120px;
    }
    footer .ftr-nav {
        ul {
            padding-left: 0;
        }
    }
    footer .logo-scl p {
        font-size: 13px;
    }
    footer .ftr-nav ul li {
        font-size: 13px;
    }
    footer .logo-scl .scl a img {
        width: 35px;
    }
    footer .copy-rgt {
        margin-top: 30px;
    }
    footer .copy-rgt {
        font-size: 13px;
        height: 80px;
    }
}
@media (max-width: 1023px) {
    footer {
        margin-top: 70px;
    }

    footer:after {
        background-size: 40%;
    }
    footer:before {
        background-size: 35%;
    }
}
@media (max-width: 991px) {
    footer {
        padding-bottom: 100px;
    }
}
@media (max-width: 767px) {
    footer .copy-rgt {
        padding: 35px;
    }
    footer .logo-scl {
        margin-bottom: 0px;
    }
    footer .logo-scl .scl a {
        margin-right: 7px;
    }
    footer .logo-scl .scl a img {
        width: 30px;
    }
    footer .copy-rgt {
        border-width: 1px;
        height: auto;
        margin-top: 25px;
        text-align: center;
    }
}

@media (max-width: 479px) {
    footer .scl {
        max-width: 270px;
        margin: 0 auto;
        a {
            margin-bottom: 10px !important;
            display: inline-flex;
            flex-wrap: wrap;
        }
    }
}
